Repository GSG-G8/applicants-system, pull requests merged in 2020-04, with the labels that each got.

#71 44 get cohorts controller
  server/app.js
  server/controllers/cohort/getCohorts.js
  server/controllers/index.js
  server/database/data/.gitkeep
  server/database/data/cohortFakeData.json
  server/database/models/cohort.js
  server/database/models/registrationStep.js
  server/database/models/technicalTask.js
  server/router/cohort-router.js
  server/router/index.js
Labels: Back End, Back End Routes, Done, Express, applicant

#75 fixed cohorts controller
  server/controllers/cohort/getCohorts.js
  server/router/cohort-router.js
Labels: Back End, Back End Routes, Express, applicant, awaiting review

#68 applicant login created in control
  server/app.js
  server/controllers/auth/login.js
  server/router/applicant-router.js
  server/router/index.js
  server/utils/validation/loginValidation.js
Labels: Back End, Done, applicant

#74 create logout function and create rout for it
  server/controllers/auth/logout.js
  server/router/applicant-router.js
  server/router/auth-router.js
  server/router/index.js
Labels: Back End, Back End Routes, Done, applicant

#78 create get applicants stats route
  server/app.js
  server/controllers/applicant/getApplicantsStats.js
  server/controllers/applicant/index.js
  server/database/data/applicantsFakeData.json
  server/router/applicant-router.js
  server/router/cohort-router.js
  server/router/index.js
Labels: Back End, Back End Routes, Done, Express, admin

#72 get applicants, get applicants by id and update applicant
  server/controllers/admin/getApplicants.js
  server/controllers/admin/getApplicantsStats.js
  server/controllers/admin/index.js
  server/controllers/applicant/getApplicantById.js
  server/controllers/applicant/getApplicants.js
  server/controllers/applicant/index.js
  server/controllers/applicant/updateApplicant.js
  server/controllers/index.js
  server/database/models/applicant.js
  server/router/admin-router.js
  server/router/applicant-router.js
  server/router/auth-router.js
  server/router/cohort-router.js
  server/router/index.js
  server/utils/validation/applicantValidation.js
Labels: Back End, Back End Routes, database, requested changes

#87 Error handling Client and server
  server/controllers/errors/clientError.js
  server/controllers/errors/index.js
  server/controllers/errors/serverError.js
  server/controllers/index.js
  server/router/index.js
Labels: Back End, Done, Express, awaiting review

#90 fixed router
  server/router/index.js
Labels: Back End, Back End Routes, Done, Express, admin

#92 added avatar in applicant models and validation
  server/database/models/applicant.js
  server/utils/validation/applicantValidation.js
Labels: Back End, applicant, awaiting review, database

#91 added fullName, email, and password in applicant validation
  server/utils/validation/applicantValidation.js
Labels: Back End, applicant, awaiting review, database

#86 update login to login admins
  server/controllers/auth/login.js
  server/database/data/adminFakeData.json
Labels: Back End, Back End Routes, Done, MongoDB, admin, applicant

#88 verify token for protected routes
  server/middlewares/auth.js
  server/router/index.js
Labels: Back End, Done, Express, In progress

#96 update authentication router
  server/controllers/auth/logout.js
  server/middlewares/auth.js
  server/router/auth-router.js
  server/router/cohort-router.js
  server/router/index.js
Labels: Back End, Back End Routes, Done, Express, admin, applicant

#76 23 backend round signup
  server/controllers/auth/signup.js
  server/database/models/applicant.js
  server/router/auth-router.js
  server/router/index.js
  server/utils/helper.js
  server/utils/validation/applicantSignupValidation.js
Labels: Back End, Back End Routes, Done, Express, applicant, database

#101 get registration steps route
  server/controllers/index.js
  server/controllers/registrationSteps/getRegistrationSteps.js
  server/database/data/registrationStepsFakeData.json
  server/database/models/registrationStep.js
  server/router/index.js
  server/router/registrationSteps-router.js
  server/router/registrationTask-router.js
Labels: Back End, Back End Routes, Done, Express, applicant

#100 Back-end Route | tasks
  server/controllers/index.js
  server/controllers/task/getTasks.js
  server/database/data/tasksFakeData.json
  server/router/index.js
  server/router/technicalTask-router.js
Labels: Back End, Back End Routes, Done, Express, applicant

#102 update login response …
  server/controllers/auth/login.js
Labels: Back End, Back End Routes, Done, admin, applicant

#104 get random project for applicants
  package-lock.json
  server/controllers/applicant/getRandomProject.js
  server/controllers/applicant/index.js
  server/database/data/projectsFakeData.json
  server/router/applicant-router.js
Labels: Back End, Back End Routes, Done, applicant

#107 install prop types
  client/package.json
Labels: Done, setup

#94 get filtered applicants by queryparams
  server/controllers/admin/getApplicantsQuery.js
  server/controllers/admin/index.js
  server/database/models/applicant.js
  server/router/admin-router.js
Labels: Back End, Back End Routes, Done, Express, admin

#120 build database & update fake data
  package.json
  server/app.js
  server/database/connection.js
  server/database/data/admin.js
  server/database/data/adminFakeData.json
  server/database/data/applicants.js
  server/database/data/applicantsFakeData.json
  server/database/data/cohortFakeData.json
  server/database/data/cohorts.js
  server/database/data/index.js
  server/database/data/projects.js
  server/database/data/projectsFakeData.json
  server/database/data/registrationStepsFakeData.json
  server/database/data/steps.js
  server/database/data/tasks.js
  server/database/data/tasksFakeData.json
  server/database/dbConnection.js
  server/database/index.js
  server/database/models/applicant.js
  server/database/models/cohort.js
  server/database/models/index.js
  server/database/utils/createCollection.js
  server/database/utils/resetDatabase.js
  server/router/registrationSteps-router.js
Labels: Done

#89 update points for codewars and freecodecamp
  package-lock.json
  package.json
  server/controllers/admin/getApplicants.js
  server/controllers/admin/index.js
  server/controllers/admin/updatePoints.js
  server/controllers/applicant/index.js
  server/controllers/applicant/updateApplicantPoints.js
  server/controllers/fetchData/bugs.log
  server/controllers/fetchData/fetchCodewar.js
  server/controllers/fetchData/fetchFreecodeCamp.js
  server/controllers/fetchData/getTopicsId.js
  server/controllers/fetchData/topics.js
  server/controllers/fetchData/writeToLog.js
  server/database/models/applicant.js
  server/router/admin-router.js
  server/router/applicant-router.js
Labels: Back End, Done, admin

#130 Material UI setup
  client/package-lock.json
  client/package.json
  client/public/index.html
Labels: Front End, React, setup

#127 common component limitaion
  client/src/components/common/limitation/index.js
  client/src/components/common/limitation/style.js
Labels: Done, Front End, React, React component, common component

#119 created card component
  client/package-lock.json
  client/src/components/common/card/index.js
  client/src/components/common/card/style.js
Labels: Front End, React, React component, common component, requested changes

#125 common component text field
  client/src/components/common/TextField/index.js
  client/src/components/common/TextField/style.js
Labels: Done, Front End, In progress, React, React component

#123 common component typography
  client/public/index.html
  client/src/components/common/Typography/index.js
  client/src/components/common/Typography/style.js
Labels: Done, Front End, React, React component, common component

#126 common component image
  client/package.json
  client/src/components/common/Image/index.js
Labels: Done, React, React component, common component

#124 114 common component button
  client/src/components/common/Button/index.css
  client/src/components/common/Button/index.js
  client/src/components/common/Button/style.js
Labels: Done, Front End, React, React component, common component

#121 App Bar common component
  client/package-lock.json
  client/package.json
  client/src/assets/images/logo1.svg
  client/src/components/common/AppBar/index.js
  client/src/components/common/AppBar/style.css
  client/src/components/common/UserMenu/index.js
  client/src/components/common/UserMenu/style.js
Labels: Done, Front End, React, React component, common component

#129 select box component for applicants
  client/src/components/application/SelectBox/index.js
  client/src/components/application/SelectBox/style.css
Labels: Done, Front End, React component, awaiting review

#128 create applicant component dot stepper
  client/src/components/application/DotsStepper/index.css
  client/src/components/application/DotsStepper/index.js
  client/src/components/application/DotsStepper/registrationSteps.json
  client/src/components/application/DotsStepper/style.js
  client/src/components/common/Typography/style.js
  client/src/components/common/card/style.js
Labels: Done, Front End, React, React component, applicant

#138 FrontEnd Handling Routes
  client/package-lock.json
  client/package.json
  client/src/components/App/index.js
  client/src/components/common/AppBar/style.css
  client/src/components/pages/admin/Completed/index.css
  client/src/components/pages/admin/Completed/index.js
  client/src/components/pages/admin/Dashboard/index.css
  client/src/components/pages/admin/Dashboard/index.js
  client/src/components/pages/admin/Opened/index.css
  client/src/components/pages/admin/Opened/index.js
  client/src/components/pages/admin/Statistics/index.css
  client/src/components/pages/admin/Statistics/index.js
  client/src/components/pages/admin/Submitted_Id/index.css
  client/src/components/pages/admin/Submitted_Id/index.js
  client/src/components/pages/admin/Submitted_all/index.css
  client/src/components/pages/admin/Submitted_all/index.js
  client/src/components/pages/application/Availability/index.css
  client/src/components/pages/application/Availability/index.js
  client/src/components/pages/application/Profile/index.css
  client/src/components/pages/application/Profile/index.js
  client/src/components/pages/application/Project/index.css
  client/src/components/pages/application/Project/index.js
  client/src/components/pages/application/Signup/index.js
  client/src/components/pages/application/Submit/index.css
  client/src/components/pages/application/Submit/index.js
  client/src/components/pages/application/Tasks/index.css
  client/src/components/pages/application/Tasks/index.js
  client/src/components/pages/common/Home/index.css
  client/src/components/pages/common/Home/index.js
  client/src/components/pages/common/Login/index.js
  client/src/components/pages/common/errors/Error-404/index.css
  client/src/components/pages/common/errors/Error-404/index.js
  client/src/components/pages/common/errors/Error-500/index.css
  client/src/components/pages/common/errors/Error-500/index.js
  client/src/index.js
  server/router/index.js
Labels: Done, Front End, Front End Routes, React, admin, applicant

#142 Home Page Route
  client/src/assets/images/HomeImg.svg
  client/src/components/application/DotsStepper/index.js
  client/src/components/application/DotsStepper/style.js
  client/src/components/pages/common/Home/index.css
  client/src/components/pages/common/Home/index.js
Labels: Done, Front End Routes, React, applicant, common component
