Repository GSG-G8/applicants-system, pull requests merged in 2020-03, with the labels that each got.

#12 file structure and install modules
  .gitignore
  .travis.yml
  __test__/index.test.js
  __test__/queries/index.test.js
  __test__/routes/index.test.js
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/assets/icons/.gitkeep
  client/src/assets/images/.gitkeep
  client/src/components/App/App.css
  client/src/components/App/App.js
  client/src/components/common/Header/index.css
  client/src/components/common/Header/index.js
  client/src/components/common/index.js
  client/src/components/pages/Home/index.css
  client/src/components/pages/Home/index.js
  client/src/components/pages/Profile/index.css
  client/src/components/pages/Profile/index.js
  client/src/components/pages/index.js
  client/src/index.js
  client/src/utils/admin/.gitkeep
  client/src/utils/applicants/.gitkeep
  client/src/utils/index.js
  package-lock.json
  package.json
  server/app.js
  server/controllers/errors/.gitkeep
  server/controllers/index.js
  server/controllers/routes/.gitkeep
  server/controllers/validation/.gitkeep
  server/database/config/index.js
  server/database/queries/index.js
  server/index.js
  server/router/index.js
Labels: Done, file structure

#14 created readme file
  README.md
Labels: Read Me, awaiting review

#16 add roles to workspace in vs code as use 2 space for tab #15
  .vscode/settings.json
Labels: Back End, Done, To Do

#42 update database File Structure
  README.md
  __test__/queries/index.test.js
  client/src/components/pages/application/ApplicantProfile/index.css
  client/src/components/pages/application/ApplicantProfile/index.js
  client/src/components/pages/application/index.js
  client/src/components/pages/common/Home/index.css
  client/src/components/pages/common/Home/index.js
  client/src/components/pages/common/Login/index.css
  client/src/components/pages/common/Login/index.js
  client/src/components/pages/dashboard/index.js
  client/src/utils/application/.gitkeep
  client/src/utils/dashboard/.gitkeep
  server/database/controllers/applicant/createApplicant.js
  server/database/controllers/applicant/getApplicantById.js
  server/database/controllers/applicant/getApplicants.js
  server/database/controllers/applicant/index.js
  server/database/controllers/applicant/updateApplicant.js
  server/database/models/admin-model.js
  server/database/models/applicant-model.js
  server/database/models/cohort-model.js
  server/database/models/index.js
  server/database/models/project-model.js
  server/database/models/registrationTask-model.js
  server/database/models/technicalTask-model.js
  server/database/routes/admin-router.js
  server/database/routes/applicant-router.js
  server/database/routes/cohort-router.js
  server/database/routes/project-router.js
  server/database/routes/registrationTask-router.js
  server/database/routes/technicalTask-router.js
Labels: Back End, Front End, Read Me, database, file structure

#59 MongoDB configuration
  .gitignore
  package.json
  server/app.js
  server/database/index.js
Labels: Back End, Express, database, requested changes, setup

#63 added monogDB in databaseConfig.js
  server/app.js
  server/databaseConfig.js
Labels: Back End, awaiting review, database

#64 change file structure.
  server/app.js
  server/controllers/auth/login.js
  server/controllers/auth/signup.js
  server/database/connection.js
  server/database/data/.gitkeep
  server/database/models/admin.js
  server/database/models/applicant.js
  server/database/models/cohort.js
  server/database/models/project.js
  server/database/models/registrationStep.js
  server/database/models/technicalTask.js
  server/middlewares/auth.js
  server/utils/validation/applicantValidation.js
  server/utils/validation/stepValidation.js
Labels: Back End, Done, database, file structure

#67 54 applicant and admin models updated
  server/database/models/admin.js
  server/database/models/applicant.js
Labels: Done

#66 created cohort and project schema
  server/database/models/cohort.js
  server/database/models/project.js
Labels: Back End, Done, database
